POSTGRES_HOST=localhost
POSTGRES_PORT=3023
POSTGRES_USER=local_user
POSTGRES_DB=local_db
POSTGRES_PASSWORD=local_password
DATABASE_URL=postgresql://local_user:local_password@localhost:3023/local_db
SERVER_PORT=3000